.tableContainerSingle {
  width: 75vw;
  height: 75vh;
  display: grid;
  grid-template-columns: 2fr repeat(7, 1fr) 2fr;
  grid-template-rows: repeat(17, 1fr);
  grid-auto-flow: column;
  border: 3px solid black;
}
.tableContainerMulti {
  width: 75vw;
  height: 75vh;
  display: grid;
  grid-template-columns: 2fr repeat(10, 1fr) 2fr;
  grid-template-rows: repeat(17, 1fr);
  grid-auto-flow: column;
  border: 3px solid black;
}
