.dicesContainer {
  display: flex;
  width: 80%;
}

.rollDiceButton {
  background-color: #010b0b;
  color: white;
  padding: 1rem 1.5rem;
  text-decoration: none;
  text-align: center;
}
.rollDiceButton:hover {
  background-color: #acacac;
  cursor: pointer;
}
